@use '../_variables' as v;


.has-emblem{
    position: relative;
    overflow: hidden;
    &:after{
        position: absolute;
        opacity: 0.1;
        top:-120px;
        right:-20px;
        
        width: 40%;
        background-size: cover;
        bottom: -100px;
        background-image: url(/src/images/emblem.png);
        background-repeat: no-repeat;
        content: '';
    }
    
}