@use '../_variables' as v;
.menu{
    a{
        padding: 8px 0;
        display: block;
        min-height: 40px;
    }
}

.submenu{
    // display: none;
    position: absolute;
    width: 200px;
    background-color: v.$primary;
    color: #fff;

    a{
        padding:8px;
    }

    .level-2{
        left: 0;
        top: 40px;
    }

    .level-3{
        top: 0;
        left: auto;
        right: -100%;
    }
}

.submenu--active{
    display: block;
}

.has-submenu{
    position: relative;    
}

.level-handlers{
         
    > a{
        padding-right: 32px;
        @media (width >= 1024px) {
            position: relative;
            z-index: 22;
        }
        
    }
    
}

.trigger-submenu{
    position: absolute;
    right: 0;
    top:0;
    width:20px;
    height: 100%;
    z-index: 2;

}


.has-submenu:hover{
    > .submenu{
        display: block;
    }
}


@media (width < 1024px) {
    .main-nav{
        transition: transform 200ms ease;
        transform: translate3d(0, calc(-100% - 100px), 0);  
    }    

    .main-nav--active{    
        transform: translate3d(0, 0, 0);  
    }    

    .menu-trigger{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}