@use '../_variables' as v;


.tab-picker{
  transition: background-color 200ms ease, color 200ms ease;
  background-color: #fff;
  color: #000000;
}

.tab-picker--active, 
.tab-picker:hover{
    background-color: #000000;
    color: #fff;
}

